Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server


      server {
          listen       443;
          server_name  localhost;

          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;

          ssl_session_timeout  5m;

          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_ciphers  ALL:!ADH:!EXPORT56:RC4+RSA:+HIGH:+MEDIUM:+LOW:+SSLv2:+EXP;
          ssl_prefer_server_ciphers   on;

          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
          }
      }
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDzzCCAregAwIBAgIJAP4zo9qXWpxPMA0GCSqGSIb3DQEBCwUAMH4xCzAJBgNV
      BAYTAlJVMQ8wDQYDVQQIDAZUeXVtZW4xDzANBgNVBAcMBlR5dW1lbjENMAsGA1UE
      CgwESG9tZTEKMAgGA1UECwwBLTEQMA4GA1UEAwwHTXkgTmFtZTEgMB4GCSqGSIb3
      DQEJARYRc2thenNrYUBnbWFpbC5jb20wHhcNMTYwNDE3MTgxNDExWhcNMTkwMTEz
      MTgxNDExWjB+MQswCQYDVQQGEwJSVTEPMA0GA1UECAwGVHl1bWVuMQ8wDQYDVQQH
      DAZUeXVtZW4xDTALBgNVBAoMBEhvbWUxCjAIBgNVBAsMAS0xEDAOBgNVBAMMB015
      IE5hbWUxIDAeBgkqhkiG9w0BCQEWEXNrYXpza2FAZ21haWwuY29tMIIBIjANBgkq
      hkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAnktHdfvQbhr3MicMzkZUH9rE9m7YqL0U
      WZ71jj0J1lg6jC3rTFHWl9gocOhtpW70IQGKJS2bMhnQrdPcOFe6gjNujE1YhZ3s
      g9vpuDmywlmOJscAg6h5KGYZNJ46Eh74WJnWKgcdONvyomlDB/Z+V/H+l1XJaPlk
      F+iHzjUMyHL0m2VA4onYbqZhvWcrbWvuSGQwuayTb9vJbl26zPJED1GcKX/yzH3D
      Nsm1GsbPIkaw/luye8Wq29BqruSgNKTdxgJwA3jwTLGZkf/LF45oVnQiCnfFO8/a
      LjabsfVkqyxliLk4QHJttD3+zcQMm68jpBJA61DZ4eI1Em+tGOoujQIDAQABo1Aw
      TjAdBgNVHQ4EFgQUqGNPtv9HyiA8WPJTKGtAJk3EolkwHwYDVR0jBBgwFoAUqGNP
      tv9HyiA8WPJTKGtAJk3EolkwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQsFAAOC
      AQEAh3PRjvZWrhug50eIbiVN7lyROIe+lLDyN+zijnm9ZpNUkxRpQYB7h3uw4vVj
      krLWcJLZCtBg6v9rS9EcwfW9Rk1tqSe8PiRpn1M9utRtyfR+bbwcfomUKmHBtkRF
      H1jXqmyk9mkSHx4e91M+IEcg5kTiCwk0mapfme11Ff/gvv6BVeFhaU3/mg/8koPZ
      Fb580ko4E/B50WJ8lZ1sLqoqz44MYMkEUS6yz1OaVjbWQblO74WcqSxCCW8UQujI
      MlrPuQDgxqjtgNTl6mPawmYVWTAWj5tgO/e7ZY3PHQ/lTd16IBvNqJ7hjQRmID51
      qSwVV3t06SXhe+S92rH609nd5Q==
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN PRIVATE KEY-----
      MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCeS0d1+9BuGvcy
      JwzORlQf2sT2btiovRRZnvWOPQnWWDqMLetMUdaX2Chw6G2lbvQhAYolLZsyGdCt
      09w4V7qCM26MTViFneyD2+m4ObLCWY4mxwCDqHkoZhk0njoSHvhYmdYqBx042/Ki
      aUMH9n5X8f6XVclo+WQX6IfONQzIcvSbZUDiidhupmG9Zytta+5IZDC5rJNv28lu
      XbrM8kQPUZwpf/LMfcM2ybUaxs8iRrD+W7J7xarb0Gqu5KA0pN3GAnADePBMsZmR
      /8sXjmhWdCIKd8U7z9ouNpux9WSrLGWIuThAcm20Pf7NxAybryOkEkDrUNnh4jUS
      b60Y6i6NAgMBAAECggEBAIfBDdc8j8Nt8uQbI1tga1MqXtLtu3fzOJmnvvYumNov
      rn57/xjj8sMkyYITg71mS45m8J/z3e54v0Pkty/G5Rg2na9LwghNqQJovqeVLB6L
      iWLuNh2zhbzE2wcKT8kssFXkEQzYLxKNZygsWCVjG3W2/12wX9xcTaBHdvi8/GqG
      +q/FK5Z5WdYi3D/xpuXlWnxmGv/v8lRRxPNWy6gMsfBEubRXqlKGFeK5OkmhnPyC
      iKcbD5qKCNB8FUjXrWwj+4CbXHN53yxW1EmPO/Fiae2FgqLQwD6obanIwgTwv1Cj
      1C4bnFG00I+zyTOkTPNehq6/l8OeHobLY4Nto3KW90ECgYEAzWlbWEN9o1O9+tDL
      LkcTN6lpLtGN/ej3yRZXuLjD+zHfsZAlb+9PeuunRb9rQVUsxRbwF4Nki3sGwwrB
      QzR/BHVhkwD4QpB95Bznx0L/trYW9YnoPLwwRXK8i3SLrVpcxxnc2QJBx+4+G3v8
      3JQbqrQhYLJs2pksSMQB5GaPat0CgYEAxUdKtkwjREnXZbtXS3Y1XeHBTADWn08v
      fsPfQsZ4dE3LSjikCRr8qTle1eYRjyFvSmA0YoQPy7pGg/D7SOfkVb0zYDgm0com
      DQHTAhVAYxf4RrRHNT2EYzwekFkqiAbErLQRFRAQPBUh3euMgrRXHftsFY61EHlc
      QJDLpPWEX3ECgYEAthoU9ObAVy9CWT0JI3m3O71gljUI4HTMVuUL16NVezf3y/6y
      cc2CdMK9hEPy3fSYwBFZwD6nwE/M6tR6CQ5dHKLDYgOWE8ztDnHhuPFYqa48JGmi
      DVX4pVjWdftYaNKXNZtkAq7RimFXhh4hSZuz+129yW/kuNbaP5gk5UtXEbECgYAu
      vHMAuQzp0qyK11UY9YozEZafkNtHppTT7UdpJGfI9d0hWkXSOmh9FrBW8Ehcpkkd
      T6lZZXvwgdLO0zpUzUsU3NvdAbCApulYz4PTzIESeM1CwtbT0B0a/VUoUVd4HlJd
      r9MUMFgIQ+FgF7uUA3FYEwZKHSLcIkQur57vF5MioQKBgFFcJJShQ6x5K0C1URCf
      U+id7kZPWdiqXQnwO4nnk8RpsDiVgS+k1P2zNqp/k0fGoxsYWqAkg9dQYefRfCnp
      1rQX34I/AbCmC7JoqRo59Q6/wV/I1gJBjA/jKyDjuQRq4WNZbdr/HIQWyqnh6SED
      tvNsouwz9JBZ9Hk8het4rTDo
      -----END PRIVATE KEY-----
